{{ if ne .chezmoi.os "windows" -}}
#!/bin/bash

mkdir -p ~/bin

# oh-my-posh
if [ ! -f ~/bin/oh-my-posh ]; then
	echo "Installing oh-my-posh..."
	wget https://github.com/JanDeDobbeleer/oh-my-posh/releases/latest/download/posh-linux-amd64 -O ~/bin/oh-my-posh
	chmod +x ~/bin/oh-my-posh 
fi

# zsh plugins
if [ ! -f ~/.config/zsh/zsh-autosuggestions ]; then
    git clone https://github.com/zsh-users/zsh-autosuggestions ~/.config/zsh/zsh-autosuggestions
fi

if [ ! -f ~/.config/zsh/zsh-syntax-highlighting ]; then
    git clone https://github.com/zsh-users/zsh-syntax-highlighting ~/.config/zsh/zsh-syntax-highlighting
fi

# rust
if ! command -v cargo &> /dev/null ; then
	echo "Installing Rust..."
	curl https://sh.rustup.rs -sSf | sh -s -- --profile minimal --default-toolchain stable -y
fi
if [ -f ~/.cargo/env ]; then
    source ~/.cargo/env
fi

# cli tools
if ! command -v zenith &> /dev/null ; then
	echo "Installing zenith..."
	cargo install zenith -q
fi
if ! command -v exa &> /dev/null ; then
	echo "Installing exa..."
	cargo install exa -q
fi
if ! command -v bat &> /dev/null ; then
	echo "Installing bat..."
	cargo install bat -q
fi
if ! command -v fd &> /dev/null ; then
	echo "Installing fd..."
	cargo install fd-find -q
fi
if ! command -v procs &> /dev/null ; then
	echo "Installing procs..."
	cargo install procs -q
fi
if ! command -v dust &> /dev/null; then
	echo "Installing dust..."
	cargo install du-dust -q
fi
if ! command -v sd &> /dev/null; then
	echo "Installing sd..."
	cargo install sd -q
fi
if ! command -v rg &> /dev/null; then
	echo "Installing ripgrep..."
	cargo install ripgrep -q
fi

{{ else if eq .chezmoi.os "windows" -}}
    
{{ end -}}
